# Tarea 2

Elaborado por: Anthony Cascante, Michael Yip

## Tutorial de Pandas

Este tutorial muestra las funciones basicas de para el uso de la biblioteca Pandas orientado al preprocesamiento de datos.
Aunque no se muestren la totalidad de funciones que ofrece la biblioteca Pandas, se muestra y ejemplifica las funciones que se consideren de importancia 

#### Contenido
- Carga de datos
- DataFrame

### Dependencias

Se importan las bibliotecas necesarias para la implementacion del tutorial

In [1]:
import pandas as pd

### Carga de Dataset

Se utiliza el set de datos *daily-min-temperatures.csv*

La funcion **read_csv** toma como input una ruta donde se encuentran el set datos en formato CSV y los carga a la variable *daily_min_temperatures*

In [2]:
df = pd.read_csv('diabetes.csv')

### DataFrame

Estructura de datos de dos dimensiones

#### Atributos

In [3]:
# tipo de datos de columnas
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [4]:
# nombre de columnas
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [5]:
# DataFrame tipo numpy
df.values

array([[  6.   , 148.   ,  72.   , ...,   0.627,  50.   ,   1.   ],
       [  1.   ,  85.   ,  66.   , ...,   0.351,  31.   ,   0.   ],
       [  8.   , 183.   ,  64.   , ...,   0.672,  32.   ,   1.   ],
       ...,
       [  5.   , 121.   ,  72.   , ...,   0.245,  30.   ,   0.   ],
       [  1.   , 126.   ,  60.   , ...,   0.349,  47.   ,   1.   ],
       [  1.   ,  93.   ,  70.   , ...,   0.315,  23.   ,   0.   ]])

In [6]:
# cantidad de objetos en el dataframe
df.size

6912

In [7]:
# dimensiones del dataframe

df.shape

(768, 9)

In [8]:
# dataframe vacio?
df.empty

False

#### Conversiones

In [9]:
# el valor es NaN?
df.isna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
738,False,False,False,False,False,False,False,False,False
739,False,False,False,False,False,False,False,False,False
740,False,False,False,False,False,False,False,False,False
741,False,False,False,False,False,False,False,False,False
742,False,False,False,False,False,False,False,False,False
743,False,False,False,False,False,False,False,False,False
744,False,False,False,False,False,False,False,False,False
745,False,False,False,False,False,False,False,False,False
746,False,False,False,False,False,False,False,False,False
747,False,False,False,False,False,False,False,False,False
748,False,False,False,False,False,False,False,False,False
749,False,False,False,False,False,False,False,False,False
750,False,False,False,False,False,False,False,False,False
751,False,False,False,False,False,False,False,False,False
752,False,False,False,False,False,False,False,False,False
753,False,False,False,False,False,False,False,False,False
754,False,False,False,False,False,False,False,False,False
755,False,False,False,False,False,False,False,False,False
756,False,False,False,False,False,False,False,False,False
757,False,False,False,False,False,False,False,False,False
758,False,False,False,False,False,False,False,False,False
759,False,False,False,False,False,False,False,False,False
760,False,False,False,False,False,False,False,False,False
761,False,False,False,False,False,False,False,False,False
762,False,False,False,False,False,False,False,False,False
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

### Indices e Iteraciones

In [10]:
# primeros n valores
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
#ultimos n valores
df.tail(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [12]:
# seleccion por nombre columnas
df.loc[:, ['Glucose', 'Outcome']]

     Glucose  Outcome
0        148        1
1         85        0
2        183        1
3         89        0
4        137        1
5        116        0
6         78        1
7        115        0
8        197        1
9        125        1
10       110        0
11       168        1
12       139        0
13       189        1
14       166        1
15       100        1
16       118        1
17       107        1
18       103        0
19       115        1
20       126        0
21        99        0
22       196        1
23       119        1
24       143        1
25       125        1
26       147        1
27        97        0
28       145        0
29       117        0
..       ...      ...
738       99        0
739      102        1
740      120        1
741      102        0
742      109        0
743      140        1
744      153        0
745      100        0
746      147        1
747       81        0
748      187        1
749      162        1
750      136        1
751      121        0
752      108        0
753      181        1
754      154        1
755      128        1
756      137        0
757      123        1
758      106        0
759      190        1
760       88        0
761      170        1
762       89        0
763      101        0
764      122        0
765      121        0
766      126        1
767       93        0

[768 rows x 2 columns]

In [13]:
# seleccion por posicion de columna
df.iloc[:, [3, 8]]

     SkinThickness  Outcome
0               35        1
1               29        0
2                0        1
3               23        0
4               35        1
5                0        0
6               32        1
7                0        0
8               45        1
9                0        1
10               0        0
11               0        1
12               0        0
13              23        1
14              19        1
15               0        1
16              47        1
17               0        1
18              38        0
19              30        1
20              41        0
21               0        0
22               0        1
23              35        1
24              33        1
25              26        1
26               0        1
27              15        0
28              19        0
29               0        0
..             ...      ...
738             17        0
739              0        1
740             37        1
741             20        0
742             18        0
743              0        1
744             37        0
745             33        0
746             41        1
747             41        0
748             22        1
749              0        1
750              0        1
751             39        0
752             24        0
753             44        1
754             32        1
755             39        1
756             41        0
757              0        1
758              0        0
759              0        1
760             26        0
761             31        1
762              0        0
763             48        0
764             27        0
765             23        0
766              0        1
767             31        0

[768 rows x 2 columns]

In [14]:
# seleccion por posicion de filas y columnas especificas
df.iloc[[5, 4], [3, 8]]

   SkinThickness  Outcome
5              0        0
4             35        1

In [15]:
# verifica si el dataframe contiene los valores dentro del parametro de la lista
df.isin([35])

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,True,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
738,False,False,False,False,False,False,False,False,False
739,False,False,False,False,False,False,False,False,False
740,False,False,False,False,False,False,False,False,False
741,False,False,False,False,False,False,False,False,False
742,False,False,False,False,False,False,False,False,False
743,False,False,False,False,False,False,False,False,False
744,False,False,False,False,False,False,False,False,False
745,False,False,False,False,False,False,False,False,False
746,False,False,False,False,False,False,False,False,False
747,False,False,False,False,False,False,False,False,False
748,False,False,False,False,False,False,False,False,False
749,False,False,False,False,False,False,False,False,False
750,False,False,False,False,False,False,False,False,False
751,False,False,False,False,False,False,False,False,False
752,False,False,False,False,False,False,False,False,False
753,False,False,False,False,False,False,False,False,False
754,False,False,False,False,False,False,False,False,False
755,False,False,False,False,False,False,False,False,False
756,False,False,False,False,False,False,False,False,False
757,False,False,False,False,False,False,False,False,False
758,False,False,False,False,False,False,False,False,False
759,False,False,False,False,False,False,False,False,False
760,False,False,False,False,False,False,False,False,False
761,False,False,False,False,False,False,False,False,False
762,False,False,False,False,False,False,False,False,False
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [34]:
subdf = df.iloc[[5, 4], [3, 8]]
subdf

   SkinThickness  Outcome
5              0        0
4             35        1

In [38]:
# reemplaza por el parametro other dependiendo de la condicion dada, cuando este es False
subdf.where(subdf <= 0, other='hello')

  SkinThickness Outcome
5             0       0
4         hello   hello

In [41]:
# similar a where, pero cuando la condicion evaluada es True
subdf.mask(subdf > 0, other='hello')

  SkinThickness Outcome
5             0       0
4         hello   hello