<a href="https://colab.research.google.com/github/michaelyipchen/AprendizajeAutomatico/blob/tarea-3/Tarea14agosto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PREDICCION DE ENFERMEDAD CARDIACA**

Uso del  Heart Disease Data Set para ejercicio de prediccion

**IMPORTACION LIBRERIAS Y DATASET**

In [697]:

import pandas as pd 
from pandas import read_csv
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data"
dataset = pd.read_csv(url)
dataset.head(10)

   63.0  1.0  1.0.1  145.0  233.0  1.0.2  ...  0.0  2.3  3.0  0.0.1  6.0  0
0  67.0  1.0    4.0  160.0  286.0    0.0  ...  1.0  1.5  2.0    3.0  3.0  2
1  67.0  1.0    4.0  120.0  229.0    0.0  ...  1.0  2.6  2.0    2.0  7.0  1
2  37.0  1.0    3.0  130.0  250.0    0.0  ...  0.0  3.5  3.0    0.0  3.0  0
3  41.0  0.0    2.0  130.0  204.0    0.0  ...  0.0  1.4  1.0    0.0  3.0  0
4  56.0  1.0    2.0  120.0  236.0    0.0  ...  0.0  0.8  1.0    0.0  3.0  0
5  62.0  0.0    4.0  140.0  268.0    0.0  ...  0.0  3.6  3.0    2.0  3.0  3
6  57.0  0.0    4.0  120.0  354.0    0.0  ...  1.0  0.6  1.0    0.0  3.0  0
7  63.0  1.0    4.0  130.0  254.0    0.0  ...  0.0  1.4  2.0    1.0  7.0  2
8  53.0  1.0    4.0  140.0  203.0    1.0  ...  1.0  3.1  3.0    0.0  7.0  1
9  57.0  1.0    4.0  140.0  192.0    0.0  ...  0.0  0.4  2.0    0.0  6.0  0

[10 rows x 14 columns]

In [698]:
dataset.dtypes

63.0     float64
1.0      float64
1.0.1    float64
145.0    float64
233.0    float64
1.0.2    float64
2.0      float64
150.0    float64
0.0      float64
2.3      float64
3.0      float64
0.0.1     object
6.0       object
0          int64
dtype: object

In [0]:
#cols = dataset.columns[dataset.dtypes.eq(object)]
#@cols
#dataset[cols] = dataset[cols].apply(pd.to_numeric, errors='coerce')
#dataset.dtypes

## PREPARACION DE LOS DATOS

 DESCRIPCION DE LAS VARIABLES

1.   EDAD : Edad del individuo
2.   SEX : Sexo del individuo
3.   TD: Tipo de dolor de pecho 1-tipico, 2-No tipico, 3-No dolor, 4 -Asintomatico
4.   PSD : Presion arterial en reposo
5.   COL : Nivel de colesterol
6.   AZA: Nivel de azucar en la sangre en ayuno 1-Si es superior a 120mg/dl, 0-Si es inferior
7.   ELE: Eletrocardiograma 0-Normal, 1 y 2 Anormal
8.   FCO: Frecuencia cardiaca objetivo
9.   AIE:  Angina inducida por el ejercicio 1-Si, 0-No
10. DST: Depresion en el segmento ST Electrocardiograma 
11.  PEN: Pendiente de segmento ST en ejercicio 1-Sube, 2-Plano, 3-Baja.
12.  VAS: Numero de vasos (0-3) coloreados por fluoroscopia
13. TAL: Talasemia 3-Normal, 6-Defecto permanente, 7-Defecto reversible
14.  RES: Enfermedad cardiaca.  Mayor a 0 no hay enfermedad cardiaca

In [700]:
#agregar nombres a las columnas deel dataset
names =["EDAD", "SEXO", "TD", "PSD", "COL","AZA", "ELE", "FCO","AIE", "DST","PEN", "VAS", "TAL", "RES"]
dataset = pd.read_csv(url, names=names)

print (dataset.head(10))
print ("TAMAÑO:",dataset.size)
print ("DIMENSIONES:", dataset.shape)

   EDAD  SEXO   TD    PSD    COL  AZA  ELE    FCO  AIE  DST  PEN  VAS  TAL  RES
0  63.0   1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0    0
1  67.0   1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0    2
2  67.0   1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0    1
3  37.0   1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0    0
4  41.0   0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0    0
5  56.0   1.0  2.0  120.0  236.0  0.0  0.0  178.0  0.0  0.8  1.0  0.0  3.0    0
6  62.0   0.0  4.0  140.0  268.0  0.0  2.0  160.0  0.0  3.6  3.0  2.0  3.0    3
7  57.0   0.0  4.0  120.0  354.0  0.0  0.0  163.0  1.0  0.6  1.0  0.0  3.0    0
8  63.0   1.0  4.0  130.0  254.0  0.0  2.0  147.0  0.0  1.4  2.0  1.0  7.0    2
9  53.0   1.0  4.0  140.0  203.0  1.0  2.0  155.0  1.0  3.1  3.0  0.0  7.0    1
TAMAÑO: 4242
DIMENSIONES: (303, 14)

Revision de datos para verificar existencia de NaN

In [0]:

#dataset.isnull().values.any()
#dataset = dataset.dropna()

In [702]:
dataset.dtypes

EDAD    float64
SEXO    float64
TD      float64
PSD     float64
COL     float64
AZA     float64
ELE     float64
FCO     float64
AIE     float64
DST     float64
PEN     float64
VAS      object
TAL      object
RES       int64
dtype: object



> Las columnas VAS y TAL son de tipo texto,  para identificar valores nulos, se pasan toda la columna a valores numericos y luego se encuentran NaN:

In [703]:
#DETERMINAR NaN con el dataset con las columnas sin convertir a numerico
dataset.isnull().values.any()

False

In [704]:
#CONVERTIR COLUMNAS TAL Y RES A NUMERICO
cols = dataset.columns[dataset.dtypes.eq(object)]
cols
dataset[cols] = dataset[cols].apply(pd.to_numeric, errors='coerce')
dataset.dtypes

EDAD    float64
SEXO    float64
TD      float64
PSD     float64
COL     float64
AZA     float64
ELE     float64
FCO     float64
AIE     float64
DST     float64
PEN     float64
VAS     float64
TAL     float64
RES       int64
dtype: object

In [705]:

#EVALUAR NUEVAMENTE NaN
dataset.isnull().values.any()

True

In [0]:
#ELIMINAR NaN
dataset = dataset.dropna()

In [707]:
 #dataset[["VAS", "TAL"]] = dataset[["VAS", "TAL"]].astype(str)
 dataset[["SEXO","TD","AZA","ELE","AIE","PEN","VAS","TAL"]] = dataset[["SEXO","TD","AZA","ELE","AIE","PEN","VAS","TAL"]].astype(str)
 dataset.dtypes

EDAD    float64
SEXO     object
TD       object
PSD     float64
COL     float64
AZA      object
ELE      object
FCO     float64
AIE      object
DST     float64
PEN      object
VAS      object
TAL      object
RES       int64
dtype: object

# PROCESADO DE LA VARIABLE DE RESULTADOS

Las variable RES muestra la condicion cardiaca de la muestra.  Un valor 0 indica que la persona tiene enfermedad cardiaca,  valores 1,2,3 y 4 indican que no posee esa condicion.    Los datos se consolidan para que muestren 0 si es positivo para enfermedad y si los datos son 1,2,3 y 4 mostrara un 1, indicando negativo para enfermedad cardiaca.

In [708]:
#AGRUPANDO DATOS DE SALIDA

dataset.loc[dataset['RES'] == 0, 'RES'] = 0
dataset.loc[(dataset['RES'] >0), 'RES'] = 1
dataset.RES.head(10)

0    0
1    1
2    1
3    0
4    0
5    0
6    1
7    0
8    1
9    1
Name: RES, dtype: int64

# APLICACION DE MODELOS DE APRENDIZAJE AUTOMATICO


>Seleccion de variables y etiqueta

Se parte de una hipotesis de que con tres variables se puede llegar a un resultado razonablemente preciso.  El resultado del Electrocardiograma (ELE),  Colesterol (COL) y la Depresion en el segmento T (DST) son las variables seleccionadas inicialmente.

Con esas 3 variables, se obtiene una precision del 52%.   Para mejorar el resultado se agregan las variables: Edad, Presion y Tipo Dolor Pecho (EDAD, PAS, TD)

In [709]:
features = dataset[['EDAD','PSD','ELE','DST','COL','TD','TAL']]
labels = dataset['RES']
features.head(10)

   EDAD    PSD  ELE  DST    COL   TD  TAL
0  63.0  145.0  2.0  2.3  233.0  1.0  6.0
1  67.0  160.0  2.0  1.5  286.0  4.0  3.0
2  67.0  120.0  2.0  2.6  229.0  4.0  7.0
3  37.0  130.0  0.0  3.5  250.0  3.0  3.0
4  41.0  130.0  2.0  1.4  204.0  2.0  3.0
5  56.0  120.0  0.0  0.8  236.0  2.0  3.0
6  62.0  140.0  2.0  3.6  268.0  4.0  3.0
7  57.0  120.0  0.0  0.6  354.0  4.0  3.0
8  63.0  130.0  2.0  1.4  254.0  4.0  7.0
9  53.0  140.0  2.0  3.1  203.0  4.0  7.0



>Se dividen los datos en conjuntos de entrenamiento y prueba:

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features,labels, random_state=13)



> Verificacion de dimensiones de los conjuntos de prueba y entrenamiento:

In [711]:
print ("Dim X_Train:",X_train.shape)
print ("Dim y_Train:",y_train.shape)
print ("Dim X_Test:",X_test.shape)
print ("Dim y_Test:",y_test.shape)

Dim X_Train: (222, 7)
Dim y_Train: (222,)
Dim X_Test: (75, 7)
Dim y_Test: (75,)

## CLASIFICADOR No1 - DECISION TREE

In [712]:
# IMPORTACION LIBRERIAS
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

#NIVEL DE PROFUNDIDAD 2
DecisionTreeModel = DecisionTreeClassifier(max_depth = 2)

#EJECUCION DEL ENTRENAMIENTO
DecisionTreeModel.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=2,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [0]:
#SE PRUEBA EL MODELO CON LOS VALORS DE TESTING

y_predict = DecisionTreeModel.predict(X_test)

In [714]:
#EVALUACION DEL MODELO
dt1 = accuracy_score(y_test, y_predict)
dt1

0.7733333333333333

# METODOS DE ENSAMBLE

En Aprendizaje Automático se conocen como métodos de esamble,  aquellos métodos que hacen uso de varios algoritmos combinados.  Esto para obtener un desempeño superior al que puede obtenerse con cada algoritmo individual.
![texto alternativo](http://www.cs.us.es/~fsancho/images/2018-12/ensemble.png)


En general,  los métodos de ensamble emplean estrategias denominadas: bagging,  boosting, o stacking.

Bagging esta basado en agregación.  Combina multiples algoritmos para reducir la varianza de las predicciones. Uno de estos métodos es Randam Forest que entrena N arboles de decisiones con diferentes subconjuntos de datos, y al final se hace una votación para obtener la predicción final.  Bagging es un meta-algoritmo diseñado para conseguir combinaciones de modelos a partir de una familia inicial, provocando una disminución de la varianza y evitando el sobreajuste. Aunque lo más común es aplicarlo con los métodos basados en árboles de decisión, se puede usar con cualquier familia.

Boosting emplea clasificadores simples de poca precisión para crear un clasificador más preciso. En este método no se crean versiones del conjunto de entrenamiento, sino que se trabaja siempre con el conjunto completo de entrada, y se manipulan los pesos de los datos para generar modelos distintos. La idea es que en cada iteración se incremente el peso de los objetos mal clasificados por el predictor en esa iteración, por lo que en la construcción del próximo predictor estos objetos serán más importantes y será más probable clasificarlos bien.



La técnica de Stacking utiliza varios modelos para generar un nuevo set de datos que será empleado como datos de entrada para otro clasificador.






## MODELO ADABOOST


Adaboost combina multiples clasificadores para incrementar la precisión de la clasificación.  Es un método de esamble iterativo que emplea como base el asuste de los pesos de los clasificadores y el entrenamiento del modelo con los datos de prueba en cada interación.  Cualquier algoritmo que acepte pesos en el conjunto de entranamiento puede ser usado como algoritmo base.

![texto alternativo](https://res.cloudinary.com/dyd911kmh/image/upload/f_auto,q_auto:best/v1542651255/image_3_nwa5zf.png)

Pasos del modelo:

1.Inicialmente, a todos los datos del conjunto de entrenamiento se les asigna un peso idéntico, wi=1n, donde n es el tamaño del conjunto de datos.

2.Se entrena el modelo usando el conjunto de entrenamiento.

3.Se calcula el error del modelo en el conjunto de entrenamiento, se cuentan cuántos objetos han sido mal clasificados y se identifican cuáles son.

4.Se incrementan los pesos en aquellos casos de entrenamiento en los que el modelo anterior ha dado resultados erróneos.

5.Se entrena un nuevo modelo usando el conjunto de pesos modificados.

6.Volver al punto 3 (y se repite el proceso hasta el número de iteraciones fijadas inicialmente).

El modelo final se consigue por votación ponderada usando los pesos de todos los modelos.


![texto alternativo](http://www.cs.us.es/~fsancho/images/2018-12/boosting.png
)


# EJEMPLO DE USO DE ADABOOST

Los parámetros más importantes para el uso del modelo son:  base_estimator, n_estimators, y learning_rate." 

base_estimator:  Algoritmo usado como base para entrenar   el modelo.  Como default emplea Decision Tree,  pero es posible especificar otros algoritmos.  

n_estimators:  Número de  algoritmos que se van a entrenar en forma iterativa

learning_rate:  Factor de variación de los pesos de los algoritmos base.



> USO DE ADABOOST CON EL MISMO SET DE DATOS

Se emplean los mismos datos de entrenamiento y prueba que se han utilizado en los demás ejercicios.

In [715]:
#IMPORTAR LIBRERIA
from sklearn.ensemble import AdaBoostClassifier
abc = AdaBoostClassifier(n_estimators=8,
                         learning_rate=1)
# Train Adaboost Classifer
model = abc.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = model.predict(X_test)
dt2=accuracy_score(y_test, y_pred)
dt2

0.8