# Algunas pruebas de pre-procesado

Uso de la media o la mediana para obtener un valor faltante

In [1]:
from statistics import mean, median

In [2]:
data = [17, 80, 22, 16, 20]

In [3]:
mn = mean(data)

In [4]:
print(data) # outlier es 80

[17, 80, 22, 16, 20]

In [5]:
print(mn)

31

In [6]:
data2 = [17, 22, 16, 20]

In [8]:
mn2 = mean(data2)
print(mn2)

18.75

In [10]:
md = median(data)
print(md)

20

## Caso de pre-procesado con Diabetes

In [11]:
import pandas as pd
from pandas import read_csv
import numpy as np

In [13]:
dataset = pd.read_csv('https://raw.githubusercontent.com/fmezacr/DataScienceTEC/master/Clase2/pima-indians-diabetes.csv')

In [14]:
dataset.shape

(767, 9)

In [15]:
print(dataset.head(20))

     6  148  72  35    0  33.6  0.627  50  1
0    1   85  66  29    0  26.6  0.351  31  0
1    8  183  64   0    0  23.3  0.672  32  1
2    1   89  66  23   94  28.1  0.167  21  0
3    0  137  40  35  168  43.1  2.288  33  1
4    5  116  74   0    0  25.6  0.201  30  0
5    3   78  50  32   88  31.0  0.248  26  1
6   10  115   0   0    0  35.3  0.134  29  0
7    2  197  70  45  543  30.5  0.158  53  1
8    8  125  96   0    0   0.0  0.232  54  1
9    4  110  92   0    0  37.6  0.191  30  0
10  10  168  74   0    0  38.0  0.537  34  1
11  10  139  80   0    0  27.1  1.441  57  0
12   1  189  60  23  846  30.1  0.398  59  1
13   5  166  72  19  175  25.8  0.587  51  1
14   7  100   0   0    0  30.0  0.484  32  1
15   0  118  84  47  230  45.8  0.551  31  1
16   7  107  74   0    0  29.6  0.254  31  1
17   1  103  30  38   83  43.3  0.183  33  0
18   1  115  70  30   96  34.6  0.529  32  1
19   3  126  88  41  235  39.3  0.704  27  0

In [16]:
print(dataset.tail(20))

      6  148  72  35    0  33.6  0.627  50  1
747   3  187  70  22  200  36.4  0.408  36  1
748   6  162  62   0    0  24.3  0.178  50  1
749   4  136  70   0    0  31.2  1.182  22  1
750   1  121  78  39   74  39.0  0.261  28  0
751   3  108  62  24    0  26.0  0.223  25  0
752   0  181  88  44  510  43.3  0.222  26  1
753   8  154  78  32    0  32.4  0.443  45  1
754   1  128  88  39  110  36.5  1.057  37  1
755   7  137  90  41    0  32.0  0.391  39  0
756   0  123  72   0    0  36.3  0.258  52  1
757   1  106  76   0    0  37.5  0.197  26  0
758   6  190  92   0    0  35.5  0.278  66  1
759   2   88  58  26   16  28.4  0.766  22  0
760   9  170  74  31    0  44.0  0.403  43  1
761   9   89  62   0    0  22.5  0.142  33  0
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

In [18]:
print(dataset.describe())

                6         148          72          35           0        33.6  \
count  767.000000  767.000000  767.000000  767.000000  767.000000  767.000000
mean     3.842243  120.859192   69.101695   20.517601   79.903520   31.990482
std      3.370877   31.978468   19.368155   15.954059  115.283105    7.889091
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.000000   99.000000   62.000000    0.000000    0.000000   27.300000
50%      3.000000  117.000000   72.000000   23.000000   32.000000   32.000000
75%      6.000000  140.000000   80.000000   32.000000  127.500000   36.600000
max     17.000000  199.000000  122.000000   99.000000  846.000000   67.100000

            0.627          50           1
count  767.000000  767.000000  767.000000
mean     0.471674   33.219035    0.348110
std      0.331497   11.752296    0.476682
min      0.078000   21.000000    0.000000
25%      0.243500   24.000000    0.000000
50%      0.371000   29.000000    0.000000
75%      0.625000   41.000000    1.000000
max      2.420000   81.000000    1.000000

In [19]:
print((dataset == 0).astype(int).sum()) # cantidad de 0's por columna

6        111
148        5
72        35
35       227
0        373
33.6      11
0.627      0
50         0
1        500
dtype: int64

In [23]:
dataset[['6', '148', '72', '35', '0', '33.6']] = dataset[['6', '148', '72', '35', '0', '33.6']].replace(0, np.NaN)
print((dataset == 0).astype(int).sum())
print(dataset.tail(20))

6          0
148        0
72         0
35         0
0          0
33.6       0
0.627      0
50         0
1        500
dtype: int64
        6    148    72    35      0  33.6  0.627  50  1
747   3.0  187.0  70.0  22.0  200.0  36.4  0.408  36  1
748   6.0  162.0  62.0   NaN    NaN  24.3  0.178  50  1
749   4.0  136.0  70.0   NaN    NaN  31.2  1.182  22  1
750   1.0  121.0  78.0  39.0   74.0  39.0  0.261  28  0
751   3.0  108.0  62.0  24.0    NaN  26.0  0.223  25  0
752   NaN  181.0  88.0  44.0  510.0  43.3  0.222  26  1
753   8.0  154.0  78.0  32.0    NaN  32.4  0.443  45  1
754   1.0  128.0  88.0  39.0  110.0  36.5  1.057  37  1
755   7.0  137.0  90.0  41.0    NaN  32.0  0.391  39  0
756   NaN  123.0  72.0   NaN    NaN  36.3  0.258  52  1
757   1.0  106.0  76.0   NaN    NaN  37.5  0.197  26  0
758   6.0  190.0  92.0   NaN    NaN  35.5  0.278  66  1
759   2.0   88.0  58.0  26.0   16.0  28.4  0.766  22  0
760   9.0  170.0  74.0  31.0    NaN  44.0  0.403  43  1
761   9.0   89.0  62.0   NaN    NaN  22.5  0.142  33  0
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  0
763   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27  0
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  0
765   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47  1
766   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23  0

In [25]:
print((dataset.isnull()).sum())

6        111
148        5
72        35
35       227
0        373
33.6      11
0.627      0
50         0
1          0
dtype: int64

In [26]:
dataset.fillna(dataset.median(), inplace=True)

In [27]:
print(dataset.tail(20))

        6    148    72    35      0  33.6  0.627  50  1
747   3.0  187.0  70.0  22.0  200.0  36.4  0.408  36  1
748   6.0  162.0  62.0  29.0  125.0  24.3  0.178  50  1
749   4.0  136.0  70.0  29.0  125.0  31.2  1.182  22  1
750   1.0  121.0  78.0  39.0   74.0  39.0  0.261  28  0
751   3.0  108.0  62.0  24.0  125.0  26.0  0.223  25  0
752   4.0  181.0  88.0  44.0  510.0  43.3  0.222  26  1
753   8.0  154.0  78.0  32.0  125.0  32.4  0.443  45  1
754   1.0  128.0  88.0  39.0  110.0  36.5  1.057  37  1
755   7.0  137.0  90.0  41.0  125.0  32.0  0.391  39  0
756   4.0  123.0  72.0  29.0  125.0  36.3  0.258  52  1
757   1.0  106.0  76.0  29.0  125.0  37.5  0.197  26  0
758   6.0  190.0  92.0  29.0  125.0  35.5  0.278  66  1
759   2.0   88.0  58.0  26.0   16.0  28.4  0.766  22  0
760   9.0  170.0  74.0  31.0  125.0  44.0  0.403  43  1
761   9.0   89.0  62.0  29.0  125.0  22.5  0.142  33  0
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  0
763   2.0  122.0  70.0  27.0  125.0  36.8  0.340  27  0
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  0
765   1.0  126.0  60.0  29.0  125.0  30.1  0.349  47  1
766   1.0   93.0  70.0  31.0  125.0  30.4  0.315  23  0

In [28]:
new_dataset = dataset.rename({'6': 'preg'}, axis = 'columns')

In [29]:
new_dataset

     preg    148    72    35      0  33.6  0.627  50  1
0     1.0   85.0  66.0  29.0  125.0  26.6  0.351  31  0
1     8.0  183.0  64.0  29.0  125.0  23.3  0.672  32  1
2     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21  0
3     4.0  137.0  40.0  35.0  168.0  43.1  2.288  33  1
4     5.0  116.0  74.0  29.0  125.0  25.6  0.201  30  0
5     3.0   78.0  50.0  32.0   88.0  31.0  0.248  26  1
6    10.0  115.0  72.0  29.0  125.0  35.3  0.134  29  0
7     2.0  197.0  70.0  45.0  543.0  30.5  0.158  53  1
8     8.0  125.0  96.0  29.0  125.0  32.3  0.232  54  1
9     4.0  110.0  92.0  29.0  125.0  37.6  0.191  30  0
10   10.0  168.0  74.0  29.0  125.0  38.0  0.537  34  1
11   10.0  139.0  80.0  29.0  125.0  27.1  1.441  57  0
12    1.0  189.0  60.0  23.0  846.0  30.1  0.398  59  1
13    5.0  166.0  72.0  19.0  175.0  25.8  0.587  51  1
14    7.0  100.0  72.0  29.0  125.0  30.0  0.484  32  1
15    4.0  118.0  84.0  47.0  230.0  45.8  0.551  31  1
16    7.0  107.0  74.0  29.0  125.0  29.6  0.254  31  1
17    1.0  103.0  30.0  38.0   83.0  43.3  0.183  33  0
18    1.0  115.0  70.0  30.0   96.0  34.6  0.529  32  1
19    3.0  126.0  88.0  41.0  235.0  39.3  0.704  27  0
20    8.0   99.0  84.0  29.0  125.0  35.4  0.388  50  0
21    7.0  196.0  90.0  29.0  125.0  39.8  0.451  41  1
22    9.0  119.0  80.0  35.0  125.0  29.0  0.263  29  1
23   11.0  143.0  94.0  33.0  146.0  36.6  0.254  51  1
24   10.0  125.0  70.0  26.0  115.0  31.1  0.205  41  1
25    7.0  147.0  76.0  29.0  125.0  39.4  0.257  43  1
26    1.0   97.0  66.0  15.0  140.0  23.2  0.487  22  0
27   13.0  145.0  82.0  19.0  110.0  22.2  0.245  57  0
28    5.0  117.0  92.0  29.0  125.0  34.1  0.337  38  0
29    5.0  109.0  75.0  26.0  125.0  36.0  0.546  60  0
..    ...    ...   ...   ...    ...   ...    ...  .. ..
737   2.0   99.0  60.0  17.0  160.0  36.6  0.453  21  0
738   1.0  102.0  74.0  29.0  125.0  39.5  0.293  42  1
739  11.0  120.0  80.0  37.0  150.0  42.3  0.785  48  1
740   3.0  102.0  44.0  20.0   94.0  30.8  0.400  26  0
741   1.0  109.0  58.0  18.0  116.0  28.5  0.219  22  0
742   9.0  140.0  94.0  29.0  125.0  32.7  0.734  45  1
743  13.0  153.0  88.0  37.0  140.0  40.6  1.174  39  0
744  12.0  100.0  84.0  33.0  105.0  30.0  0.488  46  0
745   1.0  147.0  94.0  41.0  125.0  49.3  0.358  27  1
746   1.0   81.0  74.0  41.0   57.0  46.3  1.096  32  0
747   3.0  187.0  70.0  22.0  200.0  36.4  0.408  36  1
748   6.0  162.0  62.0  29.0  125.0  24.3  0.178  50  1
749   4.0  136.0  70.0  29.0  125.0  31.2  1.182  22  1
750   1.0  121.0  78.0  39.0   74.0  39.0  0.261  28  0
751   3.0  108.0  62.0  24.0  125.0  26.0  0.223  25  0
752   4.0  181.0  88.0  44.0  510.0  43.3  0.222  26  1
753   8.0  154.0  78.0  32.0  125.0  32.4  0.443  45  1
754   1.0  128.0  88.0  39.0  110.0  36.5  1.057  37  1
755   7.0  137.0  90.0  41.0  125.0  32.0  0.391  39  0
756   4.0  123.0  72.0  29.0  125.0  36.3  0.258  52  1
757   1.0  106.0  76.0  29.0  125.0  37.5  0.197  26  0
758   6.0  190.0  92.0  29.0  125.0  35.5  0.278  66  1
759   2.0   88.0  58.0  26.0   16.0  28.4  0.766  22  0
760   9.0  170.0  74.0  31.0  125.0  44.0  0.403  43  1
761   9.0   89.0  62.0  29.0  125.0  22.5  0.142  33  0
762  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63  0
763   2.0  122.0  70.0  27.0  125.0  36.8  0.340  27  0
764   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30  0
765   1.0  126.0  60.0  29.0  125.0  30.1  0.349  47  1
766   1.0   93.0  70.0  31.0  125.0  30.4  0.315  23  0

[767 rows x 9 columns]

In [1]:
# clip = pd.read_clipboard()

# Caso Titanic

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/fmezacr/DataScienceTEC/master/Clase2/titanic.csv')

In [6]:
cols_to_use = ['Pclass', 'Sex', 'Age', 'Fare', 'Survived']

In [7]:
data = data[cols_to_use]

In [9]:
data.isnull().values.any()

True

In [10]:
data.shape

(891, 5)

In [11]:
data = data.dropna()

In [12]:
data.shape # para ver si el crtiero limpia un poco los datos de forma decente

(714, 5)

In [13]:
data['Sex'] = data['Sex'].replace({'male': 0, 'female': 1})

C:\Users\myip\.conda\envs\py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
data.head(10)

    Pclass  Sex   Age     Fare  Survived
0        3    0  22.0   7.2500         0
1        1    1  38.0  71.2833         1
2        3    1  26.0   7.9250         1
3        1    1  35.0  53.1000         1
4        3    0  35.0   8.0500         0
6        1    0  54.0  51.8625         0
7        3    0   2.0  21.0750         0
8        3    1  27.0  11.1333         1
9        2    1  14.0  30.0708         1
10       3    1   4.0  16.7000         1

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
features = data[['Sex', 'Age', 'Fare']]
labels = data['Survived']

In [17]:
x_train, x_test, y_train, y_test = train_test_split(features, labels, random_state=13) # 75/25 por defecto

In [19]:
x_train.shape

(535, 3)

In [20]:
data.shape

(714, 5)

In [22]:
y_test.shape

(179,)